@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Articulat CF", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Articulat";
    font-weight: 300;
    src: url("./assets/fonts/ArticulatCF-Light.woff2") format("woff2"),
      url("./assets/fonts/ArticulatCF-Light.woff") format("woff");
  }
  @font-face {
    font-family: "Articulat";
    font-weight: 400;
    src: url("./assets/fonts/ArticulatCF-Normal.woff2") format("woff2"),
      url("./assets/fonts/ArticulatCF-Normal.woff") format("woff");
  }
  @font-face {
    font-family: "Articulat";
    font-weight: 400;
    font-style: oblique;
    src: url("./assets/fonts/ArticulatCF-NormalOblique.woff2") format("woff2"),
      url("./assets/fonts/ArticulatCF-NormalOblique.woff") format("woff");
  }
  @font-face {
    font-family: "Articulat";
    font-weight: 500;
    src: url("./assets/fonts/ArticulatCF-Medium.woff2") format("woff2"),
      url("./assets/fonts/ArticulatCF-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "Articulat";
    font-weight: 600;
    src: url("./assets/fonts/ArticulatCF-DemiBold.woff2") format("woff2"),
      url("./assets/fonts/ArticulatCF-DemiBold.woff") format("woff");
  }
  @font-face {
    font-family: "Articulat";
    font-weight: 800;
    src: url("./assets/fonts/ArticulatCF-ExtraBold.woff2") format("woff2"),
      url("./assets/fonts/ArticulatCF-ExtraBold.woff") format("woff");
  }
  @font-face {
    font-family: "Articulat";
    font-weight: 800;
    font-style: oblique;
    src: url("./assets/fonts/ArticulatCF-ExtraBoldOblique.woff2")
        format("woff2"),
      url("./assets/fonts/ArticulatCF-ExtraBoldOblique.woff2") format("woff");
  }
  @font-face {
    font-family: "Calfine";
    src: url("./assets/fonts/Calfine.woff2") format("woff2"),
      url("./assets/fonts/Calfine.woff") format("woff");
  }
}

.lineParent {
  overflow: hidden;
}

.lineChild {
  font-family: "Calfine", sans-serif;
}
